@model UPPHercegovina.WebApplication.Models.PostCategory

@{
    ViewBag.Title = "Obriši / Kategorije / Obavijesti";
}

<h2>Obriši kategoriju</h2>

<h3>Da li ste sigurni da želite obrisati ovu kategoriju?</h3>
<div>
    <h4>Kaategorije obavijesti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Nazad na listu", "Index")
        </div>
    }
</div>
