@model UPPHercegovina.WebApplication.Models.BuyerRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BuyerRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuyerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Buyer.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfPickUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfPickUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickedUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickedUp)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            <label>Proizvod</label>
        </th>
        <th>
            <label>Bruto</label>
        </th>
        <th>
            <label>Neto</label>
        </th>
        <th>
            <label>Kvalitet</label>
        </th>
        <th>
            <label>Skladište</label>
        </th>
    </tr>

    @foreach (var item in Model.ReservedProducts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonProduct.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonProduct.Bruto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonProduct.Neto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonProduct.Quality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonProduct.Warehouse1.Name)
            </td>
        </tr>
    }

</table>
<p>
    @if(!Model.Accepted)
    {
        <div>
            @Html.ActionLink("Odobri", "ProcessRequest", new { id = Model.Id, status = true }) |
            @Html.ActionLink("Odbi", "ProcessRequest", new { id = Model.Id, status = false }) |
        </div>
    }
    @Html.ActionLink("Nazad na listu", "ActiveRequests")
</p>
