@model PagedList.PagedList<UPPHercegovina.WebApplication.Models.UserMembershipIndexModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Članstvo";
}

<h2>Članstvo</h2>

<p>
    @Html.ActionLink("Dodaj novo", "Create")
</p>



<table class="table">
    <tr>
        <th>
            <label>Broj članske</label>
        </th>
        <th>
            @Html.ActionLink("Članska", "Index", new { sortOrder = ViewBag.MembershipSortParm })
        </th>
        <th>
            @Html.ActionLink("Korisnik", "Index", new { sortOrder = ViewBag.UserSortParm })
        </th>
        <th>
            @Html.ActionLink("Datum", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Potvrđeno", "Index", new { sortOrder = ViewBag.ApprovedSortParm })
        </th>
        <th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MembershipId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MembershipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserFirstLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>

            @Html.ActionLink("Izmjeni", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.Id }) |

        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))