@model PagedList.PagedList<UPPHercegovina.WebApplication.Models.UserMembership>
@using PagedList.Mvc
@{
    ViewBag.Title = "Memberships";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Memberships</h2>

<table class="table">
    <tr>
        <th>
            <label>Id članske</label>
        </th>
        <th>
            <label>Naziv</label>
        </th>
        <th>
            <label>Datum uplate</label>
        </th>
        <th>
            <label>Datum isteka</label>
        </th>
        <th>
            <label>Preostalo dana</label>
        </th>
        <th>
            <label>Prihvaćeno</label>
        </th>
        <th>
            <label>Status</label>
        </th>
        <th>
            <label>Cijena</label>
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MembershipId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Membership.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExparationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaysLeft)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Membership.Price)
        </td>

    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))