@model PagedList.PagedList<UPPHercegovina.WebApplication.Models.UserMembershipStatsViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Statistika / Članstvo";
}

<h2>Statistika članstva</h2>
<hr />


@using (Html.BeginForm("Stats", "UserMemberships"))
{
    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownList("Memberships", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    
    <input type="submit" value="Pretraga"/>
}

<table class="table">
    <tr>
        <th>
            <label>Član</label>
        </th>
        <th>
            <label>Članska</label>
        </th>
        <th>
            <label>Datum uplate</label>
        </th>
        <th>
            <label>Vrijedi do</label>
        </th>
        <th>
            <label>Preostalo</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserMembership)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiringDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysLeft) dana
            </td>
            <td>
                @Html.ActionLink("Izmjeni", "Edit", new { id = item.UserMembershipId }) |
                @Html.ActionLink("Detalji", "Details", new { id = item.UserMembershipId }) |
                @Html.ActionLink("Obriši", "Delete", new { id = item.UserMembershipId })
            </td>
        </tr>
    }

</table>

<p>Broj članova:  @ViewData["MembersCount"]</p>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Stats", new { page, currentFilter = ViewBag.CurrentFilter }))