@model UPPHercegovina.WebApplication.Models.PersonProduct

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PersonProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HarvestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HarvestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bruto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bruto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExparationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExparationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoringId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoringId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarehouseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarehouseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FieldId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FieldId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Damaged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Damaged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CircaValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CircaValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urgently)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urgently)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
