@model PagedList.PagedList<UPPHercegovina.WebApplication.Models.PersonProduct>
@using PagedList.Mvc

@{
    ViewBag.Title = "Ocjene / Proizvodi / Proizvođač";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ocjene proizvoda</h2>

<h4>Vaša prosječna ocjena je: @ViewBag.AverageMark</h4>

<table class="table">
    <tr>
        <th>
            <label>Proizvod</label>
            @*@Html.DisplayNameFor(model => model.Product.Name)*@
        </th>
        <th>
            <label>Datum berbe</label>
            @*@Html.DisplayNameFor(model => model.HarvestDate)*@
        </th>
        <th>
            <label>Rok trajanja</label>
            @*@Html.DisplayNameFor(model => model.ExparationDate)*@
        </th>
        <th>
            <label>Zemljište</label>
            @*@Html.DisplayNameFor(model => model.Field.Name)*@
        </th>
        <th>
            <label>Neto</label>
            @*@Html.DisplayNameFor(model => model.Neto)*@
        </th>
        <th>
            <label>Bruto</label>
            @*@Html.DisplayNameFor(model => model.Bruto)*@
        </th>
        <th>
            <label>Očekivana vrijednost</label>
            @*@Html.DisplayNameFor(model => model.CircaValue)*@
        </th>
        <th>
            <label>Cijena</label>
            @*@Html.DisplayNameFor(model => model.Value)*@
        </th>
        <th>
            <label>Ocjena</label>
            @*@Html.DisplayNameFor(model => model.Rating)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarvestOnlyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bruto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExparationOnlyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CircaValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Rating)
            </th>
            <td>
                 <div>
                     @Html.ActionLink("Detalji", "Details", new { id = item.Id })
                </div>
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Marks", new { page, currentFilter = ViewBag.CurrentFilter }))