@model UPPHercegovina.WebApplication.Models.Field

@{
    ViewBag.Title = "Obriši / Zemljište";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}

<h2>Obriši zemljište</h2>

<h3>Da li ste sigurni da želite obrisati ovo zemljište?</h3>
<div>
    <h4>Zemljište</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeoLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeoLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeoLat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeoLat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Nazad na listu", "Index")
        </div>
    }
</div>
