@model UPPHercegovina.WebApplication.Models.Field

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Field</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeoLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeoLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeoLat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeoLat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
