@model PagedList.PagedList<UPPHercegovina.WebApplication.Models.ProductType>
@using PagedList.Mvc
@{
    ViewBag.Title = "Pregled / Vrste proizvoda";
}

<h2>Pregled vrsta proizvoda</h2>

<p>
    @Html.ActionLink("Dodaj novu vrstu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Naziv vrste</label>
        </th>
        <th>
            <label>Opis</label>
        </th>
        <th>
            <label>Status</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Izmjeni", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.Id }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
