@model PagedList.PagedList<UPPHercegovina.WebApplication.Models.Membership>
@using PagedList.Mvc

@{
    ViewBag.Title = "Pregled / Članske";
}

<h2>Pregled članskih</h2>

<p>
    @Html.ActionLink("Dodaj novu člansku", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Broj članske</label>
        </th>
        <th>
            @Html.ActionLink("Naziv", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            <label>Opis</label>
        </th>
        <th>
            @Html.ActionLink("Datum kreiranja", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            <label>Cijena</label>
        </th>
        <th>
           @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price) KM
        </td>

        @* Ovo je privremeno rjesenje *@
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>

        <td>
            @Html.ActionLink("Izmjeni", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.Id }) |
            @Html.ActionLink("Deaktiviraj", "Deactivate", new { id = item.Id })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))