@model UPPHercegovina.WebApplication.Models.PartnershipViewModelList

@{
    ViewBag.Title = "Detalji / Saradnja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji saradnje</h2>

<div>
    <h4>Nakupac: @Html.DisplayFor(model => model.BuyerName)</h4>

    <table class="table">
        <tr>
            <th>
                <label>Transakcija</label>
            </th>
            <th>
                <label>Datum</label>
            </th>
            <th>
                <label>Proizvod</label>
            </th>
            <th>
                <label>Bruto</label>
            </th>
            <th>
                <label>Neto</label>
            </th>
            <th>
                <label>Cijena</label>
            </th>
            <th>
                <label>Kvalitet</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Partnerships)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bruto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Neto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quality)
                </td>
                <td>
                    @Html.ActionLink("Detalji", "Details", new { Id = item.PersonProductId, transactionId = item.TransactionId }, null)
                </td>
            </tr>
        }

    </table>

    <hr />
    <h2>Ukupno zarađeno: @Html.DisplayFor(modelItem => modelItem.SumValue)</h2>

    <h4>Najprodavaniji proizvod</h4>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ProductBestSoldTransactions.Product.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductBestSoldTransactions.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Earned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Earned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bruto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bruto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Neto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AverageValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Nazad na listu", "TransactionHistory")
</p>
