@model PagedList.PagedList<UPPHercegovina.WebApplication.Models.PartnershipViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "Historija / Transakcije / Proizvođač";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Historija transakcija</h2>

<table class="table">
    <tr>
        <th>
            <label>Transakcija</label>
        </th>
        <th>
            <label>Datum</label>
        </th>
        <th>
            <label>Kupac</label>
        </th>
        <th>
            <label>Proizvod</label>
        </th>
        <th>
            <label>Bruto</label>
        </th>
        <th>
            <label>Neto</label>
        </th>
        <th>
            <label>Cijena</label>
        </th>
        <th>
            <label>Kvalitet</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetDate)
        </td>
        <td>
            @Html.ActionLink(item.BuyerName, "BuyerDetails", new { Id = item.BuyerId }, null)
            @*@Html.DisplayFor(modelItem => item.BuyerName)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bruto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Neto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quality)
        </td>
        <td>
            @Html.ActionLink("Detalji", "Details", new { Id = item.PersonProductId, transactionId = item.TransactionId}, null)
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("TransactionHistory", new { page, currentFilter = ViewBag.CurrentFilter }))