@model IEnumerable<UPPHercegovina.WebApplication.Models.Delivery>

@{
    ViewBag.Title = "Detalji / Dolazni proizvodi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji dolaznog proizvoda</h2>

<div>
    <h4>Dolazni proizvodi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Korisnik</label>
        </dt>
        <dd>
            <label>@ViewBag.User</label>
        </dd>

        <dt>
            <label>Datum dostave</label>
        </dt>
        <dd>
            <label>@ViewBag.DeliveryDate</label>
        </dd>

        <dt>
            <label>Detalji</label>
        </dt>
        <dd>
            <label>@ViewBag.Details</label>
        </dd>

    </dl>
</div>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Appointment.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonProduct.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Appointment.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appointment.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
    </tr>
}

</table>
