@model UPPHercegovina.WebApplication.Models.Delivery

@{
    ViewBag.Title = "Detalji / Dolazni proizvodi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji dolaznog proizvoda</h2>

<div>
    <h4>Dolazni proizvodi</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            <label>Šifra termina</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentId)
        </dd>

        <dt>
            <label>Šifra dostave</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Appointment.DeliveryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Appointment.DeliveryDate)
        </dd>

        <dt>
            <label>Proizvođač</label>
            
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Appointment.User.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonProduct.Product.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonProduct.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonProduct.Neto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonProduct.Neto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonProduct.Warehouse1.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonProduct.Warehouse1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delivered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Nazad na listu", "DeliveryHistory")
</p>
