@model  PagedList.PagedList<UPPHercegovina.WebApplication.Models.PersonProduct>
@using PagedList.Mvc
@{
    ViewBag.Title = "U obradi / Proizvodi proizvođača";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proizvodi u obradi</h2>

<table class="table">
    <tr>
        <th>
            <label>Korisnik</label>
        </th>
        <th>
            <label>Proizvod</label>
        </th>
        <th>
            <label>Datum branja</label>
        </th>
        <th>
            <label>Neto</label>
        </th>
        <th>
            <label>Bruto</label>
        </th>
        <th>
            <label>Očekivana vrijednost</label>
        </th>
        <th>
            <label>Oštećeno</label>
        </th>
        <th>
            <label>Hitno</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HarvestOnlyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Neto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bruto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CircaValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Damaged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urgently)
        </td>
        <td>
            @Html.ActionLink("Prihvati", "AcceptProcess", new { id=item.Id }) |
            @Html.ActionLink("Odbij", "RejectProcess", new { id=item.Id })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Processing", new { page, currentFilter = ViewBag.CurrentFilter }))