@model UPPHercegovina.WebApplication.Models.PersonProduct

@{
    ViewBag.Title = "Odbi / Proizvod proizvođača";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Odbi proizvod</h2>

<h3>Da li ste sigurni da želite odbiti ovaj proizvod?</h3>
<div>
    <h4>Proizvod proizvođača</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Field.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Field.Name)
        </dd>

        <dt>
            <label>Proizvođač</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HarvestDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HarvestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExparationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExparationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Neto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bruto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bruto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CircaValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CircaValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Damaged)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Damaged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urgently)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Urgently)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Odbi" class="btn btn-default" /> |
            @Html.ActionLink("Nazad na listu", "Processing")
        </div>
    }
</div>
