@model PagedList.PagedList<UPPHercegovina.WebApplication.Models.Transaction>
@using PagedList.Mvc
@{
    ViewBag.Title = "Pregled / Transakcije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pregled transakcija</h2>
<br />
<table class="table">
    <tr>
        <th>
            <label>Šifra zahtjeva</label>
        </th>
        <th>
            <label>Administrator</label>
        </th>
        <th>
            <label>Cijena</label>

        </th>
        <th>
            <label>Datum</label>

        </th>
        <th>
            <label>Status</label>

        </th>
        <th>
            <label>Prihvaćeno</label>

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerRequestId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accepted)
        </td>
        <td>
            @Html.ActionLink("Detalji", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))