@model PagedList.PagedList<UPPHercegovina.WebApplication.Models.UsersViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "Pregled / Korisnika";
}

<h2>Pregled korisnika</h2>

@using (Html.BeginForm("AllUsers", "UserManagment"))
{
    <div class="container">
        <div class="col-md-12">
            @Html.CheckBox("status")
            <input id="Submit1" type="submit" value="Filtriraj po statusu" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            <label>Ime</label>
        </th>
        <th>
            <label>Prezime</label>
        </th>
        <th>
            <label>Broj telefona</label>
        </th>
        <th>
            <label>Općina</label>
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Township)
            </td>
            <td>
                @Html.ActionLink("Izmjeni", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Deaktiviraj", "Deactivate", new { id = item.Id }) |
                @Html.ActionLink("Obriši", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
