@model PagedList.PagedList<UPPHercegovina.WebApplication.Models.UsersViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "Pregled / Korisnika";
}

<h2>Pregled korisnika</h2>

<input type="hidden" value="@ViewBag.Status" id="hiddenStatus" />

@using (Html.BeginForm("AllUsers", "UserManagment"))
{
    <div class="container">
        <div class="col-xs-3">
            @Html.CheckBox("status")

            @if (ViewBag.Status)
            {
                <input id="btnSearch" type="submit" class="btn btn-default" value="Aktivni" />
            }
            else
            {
                <input id="btnSearch" type="submit" class="btn btn-default" value="Neaktivni" />
            }
        </div>
    </div>
    @*<script type="text/javascript" >


            var myJsVariable = '@ViewBag.Status'

                    console.log("1: ", myJsVariable)
                    if (myJsVariable)
                        document.getElementById("btnSearch").value = "Prikaži neaktivne"
                    else if (!myJsVariable) {
                        console.log("Ulazi: ", myJsVariable)
                        document.getElementById("btnSearch").value = "Prikaži aktivne"

                    }


        </script>*@
}
<br />
<table class="table">
    <tr>
        <th>
            <label>Ime</label>
        </th>
        <th>
            <label>Prezime</label>
        </th>
        <th>
            <label>Broj telefona</label>
        </th>
        <th>
            <label>Općina</label>
        </th>
        <th>
            <label>Status</label>
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Township)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Izmjeni", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Deaktiviraj", "Deactivate", new { id = item.Id }) |
                @Html.ActionLink("Obriši", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
