@model UPPHercegovina.WebApplication.Models.Post

@{
    ViewBag.Title = "Detalji / Obavijesti / Administrator";
}

<h2>Detalji obavijesti</h2>

<div class="container">
    <div class="row">

        <div class="col-xs-8">

            <label id="txtTest"></label>

            <h1>@Html.DisplayFor(model => model.Title_short)</h1>

            <hr>

            <p>
                <span class="glyphicon glyphicon-time"></span>
                Postavljeno @Html.DisplayFor(model => model.PostDate)
                <br />
                <span class="glyphicon glyphicon-user"></span>
                Napisao @Html.DisplayFor(model => model.AuthorName)
            </p>

            <hr>

            <img class="img-responsive" src="@Url.Content(Model.PictureUrl)" alt="">

            <hr>

            <p class="lead">@Html.DisplayFor(model => model.Title)</p>
            <p>@Html.Raw(HttpUtility.HtmlDecode(ViewBag.TextWithHtml))</p>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-xs-4">


            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Slične obavijesti</h4>
                <div class="row">
                    <div class="col-xs-12">

                        <ul class="list-unstyled">
                            @foreach (var item in Model.RelatedPost)
                            {
                                <li>
                                    @Html.ActionLink(item.Title_link, "Details", new { id = @item.Id })
                                    @*@item.Title_short*@
                                </li>
                            }
                        </ul>

                    </div>

                </div>
                <!-- /.row -->
            </div>


            <div class="well">
                <h4>Preporučene obavijesti</h4>
                <div class="row">
                    <div class="col-xs-12">

                        <ul class="list-unstyled">
                            @foreach (var item in Model.RecommendedPost)
                            {
                                <li>
                                    @Html.ActionLink(item.Title_link, "Details", new { id = @item.Id })
                                    @*@item.Title_short*@
                                </li>
                            }
                        </ul>

                    </div>

                </div>
            </div>

            <div class="well">
                <h4>Zadnje obavijesti</h4>
                <div class="row">
                    <div class="col-xs-12">

                        <ul class="list-unstyled">
                            @foreach (var item in Model.LastPost)
                            {
                                <li>
                                    @Html.ActionLink(item.Title_link, "Details", new { id = @item.Id })
                                    @*@item.Title_short*@
                                </li>
                            }
                        </ul>

                    </div>

                </div>
            </div>

            @*Google Maps*@
            <div class="=well">
                <h4>Naša skladišta</h4>
                <div class="row">
                    <div class="col-xs-12" style="height:300px;">
                        <div id="map" style="height:100%; border:thin; border-color:#473581;"></div>


                        <script>

                            console.log("pocelo je");
                            var niz=[];

                            var array = @Html.Raw(Json.Encode(@ViewBag.lokacije));
                            for(var i = 0; i < array.length; i++) {
                                niz[i] = array[i];
                            }
                            for (var i = 0; i < niz.length; i++) {
                                console.log("Lat: "+niz[i].Latitude.toString()+", Lng: "+array[i].Longitude.toString());

                            }

                            var x = array;

                            console.log("kraj loop - ");

                            function initMap() {

                                console.log("u initMap(): "+niz[0].Latitude+", lng: "+niz[0].Longitude);

                                var myLatLng = {lat:43.1118, lng:17.7055};

                                console.log("LAT LNG: "+myLatLng);


                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 8,
                                    center: myLatLng

                                });


                                for (var i = 0; i < niz.length; i++) {
                                    var lat_lng = new google.maps.LatLng(parseFloat( niz[i].Latitude.toString()),parseFloat( niz[i].Longitude.toString()));
                                    addMarker(lat_lng);
                                }

                                function addMarker(location) {
                                    var marker = new google.maps.Marker({
                                        position: location,
                                        map: map
                                    })};

                                }


                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ0Bah24dB4oqaIN9peo9nnFAnboZjzmY&callback=initMap"
                                async defer></script>

                    </div>
                </div>
            </div>
            @*Google Maps*@

        </div>

    </div>

    <footer>
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>

@*<script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>*@
