@model UPPHercegovina.WebApplication.Models.Post

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji obavijesti</h2>

    <div class="container">
        <div class="row">

            <div class="col-xs-8"> 

                <h1>@Html.DisplayFor(model => model.Title_short)</h1>

                <hr>

                <p>
                    <span class="glyphicon glyphicon-time"></span>
                     Postavljeno @Html.DisplayFor(model => model.PostDate)
                    <br />
                    <span class="glyphicon glyphicon-user"></span>
                    Napisao @Html.DisplayFor(model => model.AuthorName)
                </p>

                <hr>

                <img class="img-responsive" src="@Url.Content(Model.PictureUrl)" alt="">

                <hr>

                <p class="lead">@Html.DisplayFor(model => model.Title)</p>
                <p>@Html.Raw(HttpUtility.HtmlDecode(ViewBag.TextWithHtml))</p>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-xs-4">

                <!-- Blog Search Well -->


                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Slične obavijesti</h4>
                    <div class="row">
                        <div class="col-lg-6">

                            <ul class="list-unstyled">
                            @foreach (var item in Model.RelatedPost)
                            {
                                <li>
                                    @Html.ActionLink(item.Title_link, "Details", new { id = @item.Id })
                                    @*@item.Title_short*@
                                </li>
                            }
                            </ul>

                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->

            </div>

        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
