@model IEnumerable<UPPHercegovina.WebApplication.Models.PostListViewModel>

@{
    ViewBag.Title = "Uređivanje obavijesti";
}

<h2>Obavijesti</h2>

<p>
    @Html.ActionLink("Dodaj novu obavijest", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextFragment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title_short)
        </td>
        <td>
            @Html.Raw(HttpUtility.HtmlDecode(item.TextFragment))


           @* @Html.DisplayFor(modelItem => item.TextFragment)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.ActionLink("Izmjeni", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.Id }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
