@model  PagedList.PagedList<UPPHercegovina.WebApplication.Models.PostListViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = "Pregled / Obavijesti / Administrator";
}

<h2>Pregled obavijesti</h2>

<p>
    @Html.ActionLink("Dodaj novu obavijest", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Naslov</label>
        </th>
        <th>
            <label>Tekst</label>
        </th>
        <th>
            <label>Autor</label>
        </th>
        <th>
            <label>Datum postavljanja</label>
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title_short)
        </td>
        <td>
            @Html.Raw(HttpUtility.HtmlDecode(item.TextFragment))

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostDate)
        </td>
        <td>
            @Html.ActionLink("Izmjeni", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.Id }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))