<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @* CKEDITOR *@
    <script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UPPHercegovina", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Proizvodi <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Proizvodi", "Index", "PersonProducts")</li>
                                <li>@Html.ActionLink("Dodaj novi", "Create", "PersonProducts")</li>
                            </ul>
                        </li>               @* Proizvodi *@
                    }
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Članske <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Članske", "Index", "Memberships")</li>
                            <li>@Html.ActionLink("Dodaj novu", "Create", "Memberships")</li>
                            <hr />
                            <li>@Html.ActionLink("Članstvo", "Index", "UserMemberships")</li>
                            @*<li>@Html.ActionLink("Potvrdi", "Create", "UserMemberships")</li>*@
                            <li>@Html.ActionLink("Statistika", "Stats", "UserMemberships")</li>

                        </ul>
                    </li>               @* Članske *@

                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Zemljišta <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Proizvodi", "Index", "Products")</li>
                            <li>@Html.ActionLink("Dodaj novi", "Create", "Products")</li>
                            <hr />
                            <li>@Html.ActionLink("Vrste proizvoda", "Index", "ProductTypes")</li>
                            <li>@Html.ActionLink("Dodaj novu vrstu", "Index", "ProductTypes")</li>
                        </ul>
                    </li>               @* Zemljišta *@

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
