@using UPPHercegovina.WebApplication.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @* CKEDITOR *@
    <script src="~/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UPPHercegovina", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div style="background-color:white">
                </div>
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        @*Admin part*@
                        @if (User.IsInRole("Administrator") || User.IsInRole("Super-Administrator"))
                        {

                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Proizvodi <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("Administrator") || User.IsInRole("Super-Administrator"))
                                    {
                                    <li>@Html.ActionLink("Proizvodi", "Index", "Products")</li>
                                    <li>@Html.ActionLink("Novi proizvod", "Create", "Products")</li>
                                    <li>@Html.ActionLink("Vrste proizvoda", "Index", "ProductTypes")</li>
                                    <li>@Html.ActionLink("Nova vrsta proizvoda", "Index", "ProductTypes")</li>
                                    <hr style="padding:3; margin:0; border-color:#333333" />
                                    <li title="Proizvode koje je korisnik/proizvođač ponudio za udruženje">@Html.ActionLink("Proizvodi u obradi", "Processing", "Processes")</li>
                                    <li title="Prihvaćanje rezervacije proizvođača za dotjerivanje proizvoda">@Html.ActionLink("Dolazni proizvodi", "AppointmentProcess", "Processes")</li>
                                    <li title="Historija dostave proizvoda proizvođača">@Html.ActionLink("Historija proizvoda", "DeliveryHistory", "Processes")</li>
                                    }
                                </ul>
                            </li>               @* Proizvodi *@

                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Prodaja <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">

                                    <li title="Aktivni zahtjevi nakupaca na čekanju za obradu">@Html.ActionLink("Zahtjevi nakupaca u obradi", "ActiveRequests", "Requests")</li>
                                    <li title="Zahtjevi koji čekaju na preuzimanje od nakupca">@Html.ActionLink("Rezervisani proizvodi", "AcceptedRequests", "Requests")</li>
                                    <li title="Historija zahtjeva nakupaca">@Html.ActionLink("Historija zahtjeva", "History", "Requests")</li>
                                    <hr style="padding:3; margin:0; border-color:#333333" />
                                    <li title="Historija transakcija">@Html.ActionLink("Historija transakcija", "Index", "Transactions")</li>


                                </ul>
                            </li>


                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Menadžment <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Obavijesti", "Index", "Posts")</li>
                                    <li>@Html.ActionLink("Kategorije", "Index", "PostCategories")</li>
                                    <hr style="padding:3; margin:0; border-color:#333333" />
                                    <li title="Općine članive udruženja">@Html.ActionLink("Općine članice", "Index", "Townships")</li>
                                    <li title="Dodaj novu općinu članicu u udruženje">@Html.ActionLink("Dodaj novu članicu", "Create", "Townships")</li>
                                    <hr style="padding:3; margin:0; border-color:#333333" />
                                    <li title="Skladišta udruženja, lokacije, tip skladištenja i više informacija">@Html.ActionLink("Skladišta", "Index", "Warehouses")</li>
                                    <li title="Dodaj novo skladište">@Html.ActionLink("Novo skladište", "Create", "Warehouses")</li>
                                    <li title="Tipovi skladištenja">@Html.ActionLink("Vrste skladištenja", "Index", "Storings")</li>
                                    <li title="Tipovi skladištenja">@Html.ActionLink("Stanje u skladištima", "Index", "WarehouseStats")</li>
                                    <hr style="padding:3; margin:0; border-color:#333333" />
                                    <li title="Članske karte udruženja">@Html.ActionLink("Članske", "Index", "Memberships")</li>
                                    <li title="Dodavanje nove članske karte">@Html.ActionLink("Nove članske", "Create", "Memberships")</li>
                                    <li title="Pregled članstva svih članova">@Html.ActionLink("Pregled članstva", "Index", "UserMemberships")</li>
                                    <li title="Statistika članstva">@Html.ActionLink("Statistika članstva", "Stats", "UserMemberships")</li>
                                    <hr style="padding:3; margin:0; border-color:#333333" />
                                    <li title="Upravljanje članovima">@Html.ActionLink("Upravljanje korisnicima", "AllUsers", "UserManagment")</li>
                                    <li title="Dodavanje novih">@Html.ActionLink("Uloge", "Index", "Roles")</li>
                                    <li title="Dodjeljivanje uloga korisnicima">@Html.ActionLink("Upravljanje ulogama", "ManageUserRoles", "Roles")</li>
                                </ul>
                            </li>           @*Menadžment*@

                            <li>

                                <a id="txtActiveProducts" href="/Processes/Processing" title="Nove ponude proizvođača">
                                    <i class="fa fa-info"></i>
                                    @GlobalData.Instance.CountOfNewProducts
                                </a>

                            </li>

                            <li>
                                <a id="txtIncomingProducts" href="/Processes/AppointmentProcess" title="Dolazni proizvodi">
                                    <i class="fa fa-arrow-down"></i>
                                    @GlobalData.Instance.CountOfNewAppointments
                                </a>
                            </li>

                            <li>
                                <a id="txtBuyerRequests" href="/Requests/ActiveRequests" title="Zahtjevi nakupaca">
                                    <i class="fa fa-arrow-up"></i>
                                    @GlobalData.Instance.CountOfNewBuyerRequests
                                </a>
                            </li>

                        }

                        @*Admin Part End*@

                        @*User Part*@

                        @if (!User.IsInRole("Super-Administrator") && !User.IsInRole("Administrator") && !User.IsInRole("Nakupac") && User.IsInRole("Korisnik"))
                        {
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Proizvodi <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">

                                    <li title="Dodaj novi proizvod u ponudu">@Html.ActionLink("Dodaj proizvod u ponudu", "Create", "PersonProducts")</li>
                                    <li title="Proizvodi u ponudi">@Html.ActionLink("Proizvodi u ponudi", "Index", "PersonProducts")</li>
                                    <li>@Html.ActionLink("Rezervacija termina za skladištenje", "Create", "Appointments")</li>
                                    <li>@Html.ActionLink("Rezervacije za skladištenje proizvoda", "Index", "Appointments")</li>
                                    <hr style="padding:3; margin:0; border-color:#333333" />
                                    <li>@Html.ActionLink("Proizvodi u skladištima", "Index", "WarehouseProducts")</li>
                                    <li title="Ocijene vlastitih proizvoda">@Html.ActionLink("Ocjene proizvoda", "Marks", "PersonProducts")</li>

                                </ul>
                            </li>               @*Proizvodi*@

                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Menadžment <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Članstvo", "Memberships", "UserMemberships")</li>
                                    <li>@Html.ActionLink("Historija transakcija", "TransactionHistory", "Partnerships")</li>
                                    <li>@Html.ActionLink("Profil", "Profile", "Account")</li>
                                    <li>@Html.ActionLink("Pregled članova", "Index", "OverviewMembers")</li>
                                    <li>@Html.ActionLink("Zemljišta", "Index", "Fields")</li>
                                    <li>@Html.ActionLink("Dodaj novo zemljište", "Create", "Fields")</li>
                                </ul>
                            </li>               @* Menadžment *@

                            <li>
                                <a id="txtAcceptedProducts" href="/PersonProducts/Index" title="Broj prihvaćenih proizvoda">
                                    <i class="fa fa-check-circle"></i>
                                    @GlobalData.Instance.CountOfAcceptedProducts
                                </a>
                            </li>

                            <li>
                                <a id="txtAcceptedReservations" href="/Appointments/Index" title="Broj prihvaćenih rezervacija za dotjerivanje robe">
                                    <i class="fa fa-truck"></i>
                                    @GlobalData.Instance.CountOfAcceptedDeliveries
                                </a>
                            </li>

                            <li>
                                @if (GlobalData.Instance.DateOfNextDelivery == DateTime.Now || GlobalData.Instance.DateOfNextDelivery <= DateTime.Now.AddDays(-1))
                                {
                                    <a id="txtDateOfDelivery" style="color:red" title="Sljedeći datum dotjerivanja robe u skladište">
                                        <i class="fa fa-calendar-check-o"></i>
                                        @GlobalData.Instance.DateOfNextDeliveryStr
                                    </a>
                                }
                                else
                                {
                                    <a id="txtDateOfDelivery" title="Sljedeći datum dotjerivanja robe u skladište">
                                        <i class="fa fa-calendar-check-o"></i>
                                        @GlobalData.Instance.DateOfNextDeliveryStr
                                    </a>
                                }
                            </li>
                        }

                        @*User Part End*@

                        @*Nakupac Part*@

                        @if (!User.IsInRole("Super-Administrator") && !User.IsInRole("Administrator") && User.IsInRole("Nakupac"))
                        {
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Proizvodi <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">

                                    <li title="Proizvodi u ponudi">@Html.ActionLink("Proizvodi", "Index", "BuyerProducts")</li>
                                    <li title="Proizvodi u pripremi za rezervisanje">@Html.ActionLink("Proizvodi u korpi", "ReservedProducts", "BuyerProducts")</li>
                                    <hr style="padding:3; margin:0; border-color:#333333" />
                                    <li title="Ocijenjivanje kupljenih proizvoda">@Html.ActionLink("Ocijeni proizvode", "GradeProducts", "BuyerProducts")</li>

                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Transakcije <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li title="Kreiraj zahtjev za preuzimanje proizvoda">@Html.ActionLink("Novi zahtjev", "Create", "BuyerRequests")</li>
                                    <li title="Zahtjevi za preuzimanje proizvoda">@Html.ActionLink("Zahtjevi za proizvode", "Index", "BuyerRequests")</li>
                                    <hr style="padding:3; margin:0; border-color:#333333" />
                                    <li title="Historija transakcija">@Html.ActionLink("Historija transakcija", "TransactionHistory", "BuyerRequests")</li>

                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Menadžment <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Cjenovnik", "PriceList", "Prices")</li>
                                    <li>@Html.ActionLink("Pregled članova", "Index", "OverviewMembers")</li>
                                    <li>@Html.ActionLink("Kontaktirajte nas", "Contact", "Home")</li>
                                </ul>
                            </li>               @* Menadžment *@

                            <li>

                                <a id="txtAcceptedReservations" href="/BuyerRequests/Index" title="Broj prihvaćenih rezervacija koje treba preuzeti">
                                    <i class="fa fa-truck"></i>
                                    @GlobalData.Instance.CountOfAcceptedReservations
                                </a>

                            </li>

                            <li>
                                @if (GlobalData.Instance.DateOfNextPickUp <= DateTime.Now || GlobalData.Instance.DateOfNextPickUp <= DateTime.Now.AddDays(-1))
                                {
                                    <a id="txtIncomingProducts" style="color:red" title="Sljedeći datum preuzimanja">
                                        <i class="fa fa-calendar-check-o"></i>
                                        @GlobalData.Instance.DateOfNextPickUpStr
                                    </a>
                                }
                                else
                                {
                                    <a id="txtDateOfPickUp" title="Sljedeći datum preuzimanja">
                                        <i class="fa fa-calendar-check-o"></i>
                                        @GlobalData.Instance.DateOfNextPickUpStr
                                    </a>
                                }
                            </li>

                        }

                        @*Nakupac Part END*@


                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
