@model UPPHercegovina.WebApplication.Models.ApplicationUser

@{
    ViewBag.Title = "Profil";
}

<h2>Lični podaci</h2>

@using (Html.BeginForm("Profile","Account",FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4>@ViewData["DisplayName"]</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RegistrationDate)
        @Html.HiddenFor(model => model.PasswordHash)
        @Html.HiddenFor(model => model.SecurityStamp)
        @Html.HiddenFor(model => model.AccessFailedCount)
        @Html.HiddenFor(model => model.RegistrationDate)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.PictureUrl)

        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, "Ime", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, "Prezime", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdentificationNumber, "Matični broj", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdentificationNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.IdentificationNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @ViewBag.FM
                <label class="control-label col-md-2">Slika</label>
                <div class="col-md-10">
                    <input type="file" title="search image" class="form-control" id="file" name="file" onchange="show(this)" />
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TownshipId, "Općina", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.TownshipId)
                    @Html.Editor("Township", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <text></text>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Address, "Adresa", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, "Broj telefona", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { placeholder = "+38761909440", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Spasi promjene" class="btn btn-default" />
                </div>
            </div>
        </div>

        <div class="container">

            <div class="form-group">
                <img id="user_img" src="@Url.Content(Model.PictureUrl)" height="200" width="200" style="border:hidden" />
            </div>

        </div>
        </div>

    


}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#user_img').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>