@model PagedList.PagedList<UPPHercegovina.WebApplication.Models.Post>
@using PagedList.Mvc


@{
    ViewBag.Title = "Novosti / Obavijesti";
}
<h2>Obavijesti</h2>

<div>
    <br />
    <br />
    <h4>Posljednje obavijesti</h4>
    <hr />

    @foreach (var item in Model)
    {
        <div class="col-md-12 blogShort">
            <h3>@Html.DisplayFor(modelItem => item.Title_short)</h3>
            
            <div class="container">
                <div>
                    <img src="@Html.DisplayFor(modelItem => item.PictureUrl)" title="Proizvod" style="max-height:150px;" height="150" width="150" class="pull-left img-responsive thumb margin10 img-thumbnail" />
                </div>
                <div style="margin-left:160px;">
                    <div>
                        <i class="fa fa-user"> @Html.DisplayFor(modelItem => item.AuthorName)</i>  |
                        <i class="fa fa-calendar-times-o"> @Html.DisplayFor(modelItem => item.PostDate)</i>
                        <br /> <br />
                    </div>
                    <div>
                        <p>
                           @* @Html.DisplayFor(modelItem => item.Text500string)*@
                            @Html.Raw(HttpUtility.HtmlDecode(item.Text500string))
                    </div>
                </div>

            </div>
            @Html.ActionLink("Više informacija ...", "Details", "Posts" ,new { id = item.Id }, new { @class = "btn btn-blog pull-right marginBottom10" })
           
            <br />
            <hr />
        </div>
    }
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("News", new { page, currentFilter = ViewBag.CurrentFilter }))